
.icon-location:before { content: '\e800'; } /* '' */
.icon-data-science:before { content: '\f016'; } /* '' */
.icon-data-science-inv:before { content: '\f017'; } /* '' */
.icon-facebook:before { content: '\f09a'; } /* '' */
.icon-github-circled:before { content: '\f09b'; } /* '' */
.icon-youtube:before { content: '\f167'; } /* '' */
.icon-snapchat-square:before { content: '\f2ad'; } /* '' */
.icon-github-squared:before { content: '\f300'; } /* '' */